<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-xQstvca_1z1SLI3sGEzDtkQUZPJC7cQ</string>
	<key>GCM_SENDER_ID</key>
	<string>608056487424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.etradeling</string>
	<key>PROJECT_ID</key>
	<string>etradeling-test</string>
	<key>STORAGE_BUCKET</key>
	<string>etradeling-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608056487424:ios:9d96ec6224cd8d2666b2e5</string>
</dict>
</plist>